
    <h1> Formulario de Persona</h1>

    <form [formGroup]="personaForm" (ngSubmit)=submit()>
    <div class="personaDatos">
        <label>Nombre
        <input type="text" formControlName="nombre">
        </label>
        <label>Apellido
            <input type="text" formControlName="apellido">
        </label>
        <br>
        <label>Edad
            <input type="number" formControlName="edad">
        </label>
        <label>Dirección
            <input type="text" formControlName="direccion">
        </label>

    </div>

    <p>Status Formulario: {{personaForm.status}}</p>
 
    <!-- <button >Guardar</button> -->
    <button mat-raised-button color="primary" type="submit" routerLink="/consultar-persona" routerLinkActive="active" >Guardar</button>
    <!-- <button (click)="goToListar(user)">Agregar</button> -->
    <!-- <button type="submit"[route="['/consultar-persona',personaForm.value]">Guardar</button> -->

</form>

